<!DOCTYPE html>
<html>
  <head>
    <title>Invader's Car Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class=""main>
      <%= image_tag 'AlienTwo.png', alt: 'Invader\'s Car Shop' %>
      <h1><%= "Invader\'s Car Shop" %></h1>

    </header>
    <section class="content">
      <nav class="side_nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/cars">Cars</a></li>
          <li><a href="/parts">Parts</a></li>
          <li><a href="/makes">Makes</a></li>
        </ul>
      </nav>
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
